.table-content {
    margin: 0 10vw;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: none;
    text-align: center;
    padding: 8px;
    background-color: #2B6EA1;
    color: white;
}

.first-th {
    border-radius: 12px 0 0 0;
}

.last-th {
    border-radius: 0 12px 0 0;
}

td {
    text-align: center;
    background-color: #f3f3f3;
    padding: 8px;
}

.table-footer {
    display: flex;
    align-items: column;
    justify-content: space-between;
    background-color: #005975;
    color: white;
    border-radius: 0 0 12px 12px;
    height: 5vh;
    width: 100%;
}

.table-pages-count {
    margin-left: 5vw;
    margin-top: 1vh;
}

.table-add-button {
    display: flex;
    justify-content: right;
    margin-right: 5vw;
    margin-top: 1vh;
}

.table-add-link {
    text-decoration: none;
    color: inherit;
}

.table-add-link:visited {
    color: inherit;
}


.table-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.5vw;
    cursor: pointer;
}

.dropbtn {
    background-color: white;
    border-radius: 10px;
    width: 4vw;
    height: 3.15vh;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 1.1vw;
}

.table-icon-seta {
    margin-top: 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 2vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    transform: translateX(-50%);
    text-align: center;
    width: 3vw;
}

.dropdown-content button {
    color: black;
    text-decoration: none;
    display: block;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

th,
td,
tr {
    width: 10vw;
    height: 3vh;
}

.table-empty-rows td {
    height: 3vh;
}